body {
  background-color: #ffffff;
}
.navbar {
  padding: 0;
  margin: 0;
}
.hero {
  padding-top: 2rem;
  background-color: #cfe4f5;
  height: auto;
}

/* galery */
#galery {
  background-color: #cfe4f5;
}

.carousel-item img{
  width: 100%;
  max-height: 700px;
  object-fit: cover;
  object-position: top;
  border-radius: 3%;
}

.carousel-control-prev,
.carousel-control-next {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);  /* Menjaga tombol tetap di tengah secara vertikal */
  z-index: 10;  /* Pastikan tombol muncul di atas gambar */
}

@media (max-width: 768px) {

  .carousel-item{
    max-height: 300px;
  }
  .carousel-control-prev,
  .carousel-control-next {
    padding: 8px;  /* Menyesuaikan ukuran tombol pada layar kecil */
  }
}
/* /galery */

svg {
  display: block;
  width: 100%;
  margin: 0;
  padding: 0;
  overflow: hidden;
}
section {
  border: #333;
  padding-top: 7rem;
}

/* testimonial style */
.testimoni {
  margin-bottom: 15px;
}
.testimonial-container {
  max-width: 600px;
  background: white;
  padding: 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  text-align: center;
}
.testimonial {
  font-style: italic;
  color: #555;
}
.author {
  margin-top: 10px;
  font-weight: bold;
  color: #333;
}

/* /testimonial style */
